:root{
    /*Fonts*/
    --main-font:'Roboto',sans-serif;
    --secondary-font:'Raleway',sans-serif;
    /*Text colors*/
    --main-txt-cl: #212121;
    --light-txt-cl:#FFFFFF;
    --accent-txt-cl:#2196F3;
    }
    /*reset*/
    .link{
        text-decoration: none;
        color: currentColor;
    }
    .list{
        list-style: none;
    }
.body {
    background-color: var(--light-txt-cl);
    font-family: Roboto, sans-serif;
}
.logo {
    font-family:Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;    
    letter-spacing: 0.03em;
    color: var(--accent-txt-cl);
}

.header {
    background-color:var(--light-txt-cl);
}
.header.link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
        
}
.header.link:hover,
.header.link:focus{
    color:var(--accent-txt-cl) ;
    cursor: pointer;
}

.h1{
    background-color: #212121;
}
.main-decisions {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn {
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-txt-cl);
    background-color:#2196F3;
    cursor: pointer;

}
.main.basic-works{
    color: #212121;
}
.main.basic-points {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2x;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.points{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;   
    letter-spacing: 0.03em;
    color: #757575;
}
.presented-works {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

.team{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}   
.full-name{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-txt-cl)

}
.position{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}
.footer{
    background-color: #212121;
}

.footer-list{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-decoration: none;
        list-style: none;
        
}
.footer-logo{
    background-color: #212121;
}
.buttons{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        background-color: #FFFFFF;
    
    
}
.buttons.active:hover,
.buttons.active:focus {
    color: #2196F3;
    cursor: pointer;
}